.App {
  text-align: center;
  background-color: rgb(233, 233, 233);
  min-height: 100vh;
}

.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%)
}

#searchbar {
  padding: 20px;
  position: relative;
}

#searchButton {
  height: 40px;
  width: 40px;
  background-color: rgb(212, 212, 212);
  border: none;
  margin-left: 10px;
}

#searchButton:hover {
  background-color: rgb(205, 205, 205);
}

#searchIcon {
  height: 28px;
  width: 28px;
}

#patientSearch-2{
  margin-left: 10px;
}