.card {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 2px;
    padding: 25px;
    // cursor: pointer;
    font-family: Helvetica, "ibm-plex", sans-serif;
    border-radius: 10px;
    box-shadow: -1px 0px 9px -5px rgba(0, 0, 0, 0.4);
    position: relative;
    width: 40vh;
    height: 40vh;
    align-items: center;
    color: rgb(43, 45, 88);
    h1{
        font-size: 25px;
    }
}