.tbl {
    width: 100%;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    border: 0px;
    outline: 1px solid black;
  }
  
  .tblColumn {
    padding: 0px;
    padding-left: 10px;
    margin: 0px;
    box-sizing: border-box;
    border: 0px;
    outline: 1px solid black;
  }